---
import BaseLayout from "../layouts/BaseLayout.astro"
import NavBar from "../components/NavBar.astro"
---

<BaseLayout title="Animation Class - Kevin Clemons">
	<div class="grid place-items-center h-screen content-center bg-dark text-light">
		<header class="grid gap-8">
      <NavBar/>
			<h1 class="text-4xl text-lime">Animation Class</h1>
    </header>
		<h2>Kevin Clemons</h2>
	</div>
</BaseLayout>