---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Animation Class - Kevin Clemons">
	<div class="grid place-items-center h-screen content-center bg-dark text-light">
		<h1 class="text-4xl text-lime">Animation Class</h1>
		<h2>Kevin Clemons</h2>
	</div>
</BaseLayout>