---
import BaseLayout from "../layouts/BaseLayout.astro"
import NavBar from "../components/NavBar.astro"
---

<BaseLayout title="Animation Class - Kevin Clemons">
	<div class="grid gap-8 place-items-center h-screen content-center">
		<NavBar/>
		<div class="grid place-items-center">
			<h1 class="text-4xl text-lime">Animation Class</h1>
			<h2>Kevin Clemons</h2>
		</div>
	</div>
</BaseLayout>