<nav class="grid">
  <ul class="flex gap-8 text-light ml-4">
    <li><a class="btn nav-link" href="/">Home</a></li>
    <li><a class="btn nav-link" href="/button-transitions/">Buttons</a></li>
    <li><a class="btn nav-link" href="/cards/">Cards</a></li>
  </ul>
</nav>