<nav class="grid">
  <ul class="flex gap-8 text-light ml-4">
    <li><a class="btn px-4 py-2 rounded hover:bg-lime-5 active:bg-lime-7" href="/">Home</a></li>
    <li><a class="btn px-4 py-2 rounded hover:bg-lime-5 active:bg-lime-7" href="/button-transitions/">Buttons</a></li>
  </ul>
</nav>