<nav class="grid place-items-center">
  <ul class="flex flex-wrap justify-center-safe sm:gap-8 gap-2 gap-y-4 dark:text-light light:text-dark ml-4">
    <li><a class="btn nav-link" href="/">Home</a></li>
    <li><a class="btn nav-link" href="/button-transitions/">Buttons</a></li>
    <li><a class="btn nav-link" href="/cards/">Cards</a></li>
    <li><a class="btn nav-link" href="/animated-objects/">Animated Objects</a></li>
    <li><a class="btn nav-link" href="/scroll-animation/">Scroll Animation</a></li>
  </ul>
</nav>