<nav class="grid">
  <ul class="flex flex-wrap gap-8 dark:text-light light:text-dark ml-4">
    <li><a class="btn nav-link" href="/">Home</a></li>
    <li><a class="btn nav-link" href="/button-transitions/">Buttons</a></li>
    <li><a class="btn nav-link" href="/cards/">Cards</a></li>
    <li><a class="btn nav-link" href="/animated-objects/">Animated Objects</a></li>
  </ul>
</nav>