---

---
<script>
function createRipple(event: MouseEvent) {
  const button = event.currentTarget! as HTMLDivElement;
  const circle = document.createElement('span');
  const diameter = Math.max(button.clientWidth, button.clientHeight);
  const radius = diameter / 2;

  circle.style.width = circle.style.height = `${diameter}px`;
  circle.style.left = `${event.clientX - (button.offsetLeft + radius)}px`;
  circle.style.top = `${event.clientY - (button.offsetTop + radius)}px`;
  circle.classList.add('circle');

  const ripple = button.getElementsByClassName("circle")[0]
  if (ripple)
    ripple.remove()

  button.appendChild(circle);
}

const rippleButton = document.querySelector('.ripple')! as HTMLDivElement;
rippleButton.addEventListener('click', createRipple);
</script>
<div class="ripple rounded hover:rounded-xl bg-emerald hover:bg-emerald-7 transition-all-500">
  <slot />
</div>


<style>
.ripple {
  position: relative;
  background-position: center;
  will-change: transform;
  z-index: inherit;
  overflow: hidden;

  .circle {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: #fffa;
  }
}
.ripple:hover {
  transform: scale(1.1);
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}
</style>