<button class="ripple border-none rounded-full px-4 py-4 uppercase font-700 cursor-pointer text-white">
  <slot />
</button>

<style>
.ripple {
  background-position: center;
  transition: background 0.8s, transform 0.2s;
  background-color: #065f49;
  will-change: transform;
  ;
}
.ripple:hover {
  background: #096 radial-gradient(circle, transparent 1%, #096 1%) center/15000%;
  transform: scale(1.1);
}
.ripple:active {
  background-color: aqua;
  background-size: 100%;
  transition: background 0s;
}
</style>